from functools import partial

from dpipe.im.metrics import dice_score, aggregate_metric

from fbp_aug.metrics import surface_dice

metrics = {
    'dice': lambda i, y_pred: dice_score(load_y(i) >= 0.5, y_pred >= 0.5),
    'surface_dice_1.0': lambda i, y_pred: surface_dice(load_y(i) >= 0.5, y_pred >= 0.5,
                                                       dataset.spacing(i), tolerance=1.0)
}

val_metrics = {
    'dice': partial(aggregate_metric, metric=lambda x, y: dice_score(x >= 0.5, y >= 0.5))
}
